@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Variable.ttf');
}
$cl-bg: #FDF6F0;
$cl-txt: #0C1021;
$cl-white: #F1F1F1;
$cl-orange: #C53D2F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'inter';
    font-size: .52vw;
}
@media only screen and (min-width: 2560px) {
    html {
        font-size: 16.64px;
    }
}
@media only screen and (max-width: 991px) {
    html {
        font-size: 1vw;
    }
}
@media only screen and (max-width: 475px) {
    html {
        font-size: 2.66666vw;
    }
}

body {
    background-color: $cl-bg;
    color: rgba($cl-txt, 1);
}
.icon {
    &-22 {
        width: 2.2rem;
        height: 2.2rem;
    }
}
.txt {
    font-weight: 400;
    &-88 {
        font-size: 8.8rem;
        line-height: 1.2em;
        @media only screen and (max-width: 991px) {
            font-size: 5.6rem;
        }
        @media only screen and (max-width: 475px) {
            font-size: 4.2rem;
        }
    }
    &-16 {
        font-size: 1.6rem;
        line-height: 1.3em;
    }
    &-18 {
        font-size: 1.8rem;
        line-height: 1.3em;
    }
    &-20 {
        font-size: 2rem;
        line-height: 1.2em;
    }
    &-24 {
        font-size: 2.4rem;
        line-height: 1.2em;
    }
    &-semi {
        font-weight: 600;
    }
    &-bold {
        font-weight: 700;
    }
    &-black {
        font-weight: 900;
    }
    &-extra {
        font-weight: 800;
    }
    &-upper {
        text-transform: uppercase;
    }
}
a {
    text-decoration: none;
    //display: inline-block;
    
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 3.2rem;
    background-color: rgba($cl-txt, 1);
    color: $cl-white;
    &-icon {
        column-gap: 3rem;
        padding-right: 4.2rem;

    }
}

.img {
    width: 100%;
    height: auto;
    display: block;
    &-height {
        height: 100%;
        width: auto;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 256rem;
    padding: 0 8rem;
    &.grid {
        grid-template-columns: repeat(16, 1fr);
        column-gap: 4rem;
        @media only screen and (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &.fluid {
        max-width: none;
    }
    &.no-pd {
        padding-left: 0;
        padding-right: 0;
    }
}
.grid {
    display: grid;
    &-16 {
        grid-template-columns: repeat(16, 1fr);
        column-gap: 4rem;
        @media only screen and (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

